body {
	background-color: black;
}

.main {	
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
}

.hadouken,
.ryu-still,
.ryu-ready,
.ryu-throwing {
	background-repeat: no-repeat;
	float: left;
}

.ryu-still,
.ryu-ready,
.ryu-throwing,
.ryu-cools {
	width: 659px;
	height: 494px;
}

.ryu-ready,
.ryu-throwing,
.ryu-cools {
	display: none;
}

.ryu-still {
	background-image: url("../images/ryu-standing-still.png");
}
.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-throwing {
	background-image: url("../images/ryu-throwing-hadouken.png");
}

.ryu-cools {
	background-image: url("../images/ryu-cool.gif");
}

.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	position: relative;
	top: 160px;
	left: -175px;
	float: left;


}

/*.text {
	position: absolute;
	max-width: 200px;
}*/